<!--
Front_page partial for not logged_in users.
Used in home page. 
-->

<!--
provides a url for a background image.
used in layouts/application.
-->
<% provide(:background_img, '') %>

<!--
front_page_text_partial 
-->
<div class="container col-md-10 col-md-offset-2">


	<% if params[:info_partial].nil? %>
		<%= render 'mission' %>
	<% else %>
		<%= render params[:info_partial] %>
	<% end %> 

	this is front page
</div>

