<h1 class="page-header">
	About
</h1>

<div class="col-sm-8 col-sm-offset-2 text-justify">
	
	<p>The best way to master Physics is through solving as many problems as possible. Thinking hard on a problem for some time and trying to solve it on your own before you see the solution helps you absorb the knowledge much more efficiently than simply reading the problem and the solution immediately after that. At PhyKings, we have put this into the format of exciting and motivating competitions between you and other phykings.</p>
	
	<p>Results from competitions will change your level, stats and gold. Once a competition is over, you can see all solutions provided by your peers and use them to enrich your solving skills and possibly learn new techniques. You are also encouraged to submit your own problems and solutions. In return, you will be rewarded with gold every time someone unlocks the answer of your problem, your problem is given in a competition or someone looks at your solution.</p>

</div>
