<h1 class="page-header">
	Buy Gold
</h1>

<div class="col-sm-8 col-sm-offset-2 text-justify">
	
	<h3>Coming Soon</h3>

	<p>First, thank you for being part of PhyKings. We are just starting out and you are one of the first phykings. This makes you a really valuable person to us and we are eager to hear your thoughts on the project. By joining us at this early stage, you have the chance to play a main role in the making of the phenomenon PhyKings. Please contact us at <strong>team@phykings.com</strong> and share your thoughts with us.</p>
	
	<p>We cannot offer you to buy gold yet. We will have this option implemented very soon. </p>

</div>
