<h1 class="page-header">
	$\LaTeX$ Guide
</h1>

<div class="col-sm-8 col-sm-offset-2 text-justify">
	This is an introductory guide for $\LaTeX$. It is designed to give you a quick start with the basics of this widely used typesetting language.

	<div class="section" id="sec1">
		<h3>How to use LaTeX on the site</h3>
		<p>There are a couple ways to incorporate LaTeX expressions into your text on the site. You can choose whichever one feels most natural to you.</p>
		<p>If you want to display inline math expressions you need to put your LaTeX code between either single dollar signs <strong>\$ LaTeX expression \$</strong> or backslashed normal brackets <strong>$\backslash ($ LaTeX expression $\backslash )$</strong>. If you want to have the math expressions centred on a separate line, you can use either double dollar signs <strong>\$\$ LaTeX expression \$\$ </strong> or backslashed square brackets <strong>$\backslash [$ LaTeX expression $\backslash ]$</strong>. For example, writing \$ 10 + 3 = 13 \$ appears as $ 10 + 3 = 13 $ and \$\$ 10 + 3 = 13 \$\$ appears as $$ 10 + 3 = 13 $$</p>
		<p>Generally, math equations look better on a separate line because there is no additional text to interfere with them.</p>
	</div>
	
	<div class="section" id="sec2">
		<h3>Common operations</h3>
		<p>The general structure of a LaTeX command is as follows: <strong>\commandname[option1,option2,...]{argument1}{argument2}...</strong></p>
		<p>Here we list some of the most commonly used operations in LaTeX expresions:</p>
		<ul>
			<li>Addition: \$a + b\$ produces $a + b$</li>
			<li>Subtraction: \$a - b\$ produces $a - b$</li>
			<li>Product: \$a \times b\$ produces $a \times b$</li>
			<li>Equality: \$a = b\$ produces $a = b$</li>
			<li>Inequality: \$a \neq b\$ produces $a \neq b$</li>
			<li>Scalar product: \$a \cdot b\$ produces $a \cdot b$</li>
			<li>Division: \$a \div b\$ produces $a \div b$</li>
			<li>Plus or minus: \$a \pm b\$ produces $a \pm b$</li>
			<li>Minus or plus: \$a \mp b\$ produces $a \mp b$</li>
			<li>Power: \$a^{b}\$ produces $a^{b}$</li>
			<li>Square root: \$\sqrt{a}\$ produces $\sqrt{a}$</li>
			<li>Subscript: \$a_{b}\$ produces $a_{b}$</li>
			<li>Logarithm: \$\log_{a}{b}\$ produces $\log_{a}{b}$</li>
			<li>Natural Logarithm: \$\ln a\$ produces $\ln a$</li>
			<li>General root: \$\srqt[b]{a}\$ produces $\sqrt[b]{a}$</li>
			<li>Fractions: \$ \frac{a}{b} \$ produces $\frac{a}{b}$</li>
		</ul>

	</div>
	
	<div class="section" id="sec3">
		<h3>Trigonometric functions</h3>
		<p>The general structure of a LaTeX command is as follows: <strong>\commandname[option1,option2,...]{argument1}{argument2}...</strong></p>
		<p>Here we list some of the most commonly used trigonometric functions in LaTeX expressions:</p>
		<ul>
			<li>\$ \sin{x} \$ produces $\sin{x}$</li>
			<li>\$ \cos{x} \$ produces $\cos{x}$</li>
			<li>\$ \tan{x} \$ produces $\tan{x}$</li>
			<li>\$ \cot{x} \$ produces $\cot{x}$</li>
			<li>\$ \arcsin{x} \$ produces $\arcsin{x}$</li>
			<li>\$ \arccos{x} \$ produces $\arccos{x}$</li>
			<li>\$ \arctan{x} \$ produces $\arctan{x}$</li>
			<li>\$ \sin^{-1}{x} \$ produces $\sin^{-1}{x}$</li>
			<li>\$ \cos^{-1}{x} \$ produces $\cos^{-1}{x}$</li>
			<li>\$ \sinh{x} \$ produces $\sinh{x}$</li>
			<li>\$ \cosh{x} \$ produces $\cosh{x}$</li>
			<li>\$ \sinh^{-1}{x} \$ produces $\sinh^{-1}{x}$</li>
			<li>\$ \cosh^{-1}{x} \$ produces $\cosh^{-1}{x}$</li>
		</ul>

	</div>
	
	<div class="section" id="sec4">
		<h3>Integrals and Derivatives</h3>
		<p>The general structure of a LaTeX command is as follows: <strong>\commandname[option1,option2,...]{argument1}{argument2}...</strong></p>
		<p>Here we list some of the most commonly used integral and derivative LaTeX expressions:</p>
		<ul>
			<li>\$ \text{d} x \$ produces $\text{d} x$</li>
			<li>\$ \int a \text{d} x \$ produces $\int a \, \text{d} x$</li>
			<li>\$ \iint a \text{d} x \$ produces $\iint a \, \text{d} x$</li>
			<li>\$ \iiint a \text{d} x \$ produces $\iiint a \, \text{d} x$</li>
			<li>\$ \int_{a}^{b} a \text{d} x \$ produces $\int_{a}^{b} a \, \text{d} x$</li>
			<li>\$ \oint a \text{d} x \$ produces $\oint a \, \text{d} x$</li>
			<li>\$ \frac{\text{d}}{\text{d}x} \$ procuces $\frac{\text{d}}{\text{d}x} $</li>
			<li>\$ \frac{\partial}{\partial x} \$ procuces $\frac{\partial}{\partial x} $</li>
		</ul>

	</div>
	
	<div class="section" id="sec5">
		<h3>Sum and Product</h3>
		<p>The general structure of a LaTeX command is as follows: <strong>\commandname[option1,option2,...]{argument1}{argument2}...</strong></p>
		<p>Here we list some of the most commonly used sum and product LaTeX expressions:</p>
		<ul>
			<li>\$ \sum a_i \$ produces $\sum a_i$</li>
			<li>\$ \sum_{i} a_i \$ produces $\sum_{i} a_i$</li>
			<li>\$ \sum^{N} a_i \$ produces $\sum^{N} a_i$</li>
			<li>\$ \sum_{i=0}^{N} a_i \$ produces $\sum_{i=0}^{N} a_i$</li>
			<li>\$ \prod a_i \$ produces $\prod a_i$</li>
			<li>\$ \prod_{i} a_i \$ produces $\prod_{i} a_i$</li>
			<li>\$ \prod^{N} a_i \$ produces $\prod^{N} a_i$</li>
			<li>\$ \prod_{i=0}^{N} a_i \$ produces $\prod_{i=0}^{N} a_i$</li>
		</ul>

	</div>
	
	<div class="section" id="sec6">
		<h3>More Information</h3>
		<p>The information provided in this short guide should be enough get you started on writing your first problems and solutions but if you need more detailed information on LaTeX and its commands we have listed a few very useful links for you. </p>
		<ul>
			<li><%= link_to "A very useful and simple online LaTeX editor for beginners.", "http://www.codecogs.com/latex/eqneditor.php", target: "_blank" %></li>
			<li><%= link_to "A more detailed guide to LaTeX commands.", "http://meta.math.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference", target: "_blank" %></li>
			<li><%= link_to "The Comprehensive LaTeX Symbol List.", "http://www.math.boun.edu.tr/instructors/gurel/symbols-a4.pdf", target: "_blank" %></li>
			<li><%= link_to "A Wikipedia help page on displaying LaTeX formulae", "https://en.wikipedia.org/wiki/Help:Displaying_a_formula#LaTeX_commands", target: "_blank" %></li>
		</ul>

	</div>
</div>
