<h1 class="page-header">
	The Mission
</h1>

<div class="col-sm-8 col-sm-offset-2 text-justify">
	
	<h3>Change the Physics of tomorrow</h3>

	<p>The field of Physics is developing at an ever increasing rate. Hence, physicists are required to grasp more new material in less time in order to keep up the pace. In the same time, most education systems are highly inert, adapt slowly to changes and more often than not their focus is not placed on the brightest students.</p>
	
	<p>But the bright students are here. The future Einsteins and Feynmans are here. Somewhere. We just need to find them. Give them a place where they can evolve at their optimal speed and unleash their potential. Connect them and let them grow together in an atmosphere of friendly competition and mutual motivation. Because tomorrow, they will be the ones who will take Physics to the next level.</p>
	
	<p>If you are captivated by the wonders of physics and have the courage to dive deeper into its mysteries, if you love the excitement of exploring the unknown and if you want to be part of the new generation of great physicists, then you fit perfectly in the description of a phyking. Wait no more and dive in.</p>

</div>
