<h1 class="page-header">
	Rules
</h1>

<div class="col-sm-8 col-sm-offset-2 text-justify">

	<p>PhyKings is before anything else an educational tool designed to accelerate your growth as a physicist and to help you unleash your full potential. Having that in mind, we have tried to bring the number of rules to a minimum so that you are not unnecessarily distracted or confused. The following concise list of rules should familiarize you with all secrets and mysteries of PhyKings. If you have any questions to which you could not find the answer on the site, please do not hesitate to contact us on <strong>team@phykings.com</strong>.</p>

	<div class="section-rule" id="sec1">
		<h3>Problems</h3>
		<ol>
			<li>Every problem requires the solver to reach a final numerical answer. The answer consists of three parts: value, power and units. The first two parts must be integers, while the third part should be a LaTeX expression. Hence, the final answer takes the form $\text{value} \times 10^\text{power} \text{ units}$. For example, if the final answer of a given problem is $250 \text{kg}$, it can be written in the above format in a couple of different ways. One can write $\text{value} = 250$, $\text{power} = 0$, $\text{units} = $ \$ \text{kg} \$, or equivalently $\text{value} = 25$, $\text{power} = 1$, $\text{units} = $ \$ \text{kg} \$. Note that $\text{value} = 2.5$, $\text{power} = 2$, $\text{units} = $ \$ \text{kg} \$ would not be a valid answer and will not be accepted by the system because the value field is not an integer.</li>
			<li>Every problem has a title. The title should be very short (a few words) and can be anything that distinguishes the given problem.</li>
			<li>Every problem has a type. There are three main types: school, university and research. As you may guess, the type of a problem signifies whether the knowledge required to solve it is expected to be covered at school, university or beyond respectively.</li>
			<li>Every problem has a category. Currently, there are six broad categories to choose from covering the whole field of Physics.</li>
			<li>Every problem has length and difficulty. The length is measured in minutes and can take one of three values: 10, 30 or 60. It is an estimate of the time needed to solve the problem if you see it for the first time. Similarly, the difficulty is an estimate (more subjective) of how hard the problem is on the scale from 1 to 10.</li>
			<li>The main part of the problem is the problem text. This is where the problem itself is presented. The text must be unambiguous and be clear on what information is given to the solver and what is required to be found at the end. Apart from that, the author of the problem is granted complete freedom over the format of the text. For example, one author may be a fan of the long and well explained texts with additional information and possibly even external references, while another author may prefer more concise texts or test-like questions where the solver is required to choose one from a list of possible answers. It is up to you to find your personal style.</li>
			<li>Optionally, an image can be attached to the text of the problem. When displayed, it will appear at the beginning of the problem. A picture is worth a thousand words and this is especially true for physics problems. A nice plot or a sketch adds tremendous value to the reader. But keep in mind that only one image file of up to 500kB is permitted per problem.</li>
			<li>Users can upload as many problems as they want. Bad quality problems will be reviewed by moderators and may be deleted or the user may be notified to improve them. Spam or inappropriate content will not be tolerated and users responsible for it will be banned.</li>
			<li>Every time when a problem is given in a competition with non-zero entry gold or someone unlocks its answer, the author will receive gold. More on that in the section "Stats and Gold".</li>
			<li>Users are allowed to access only problems that have been given to them in past competitions, recently submitted problems in the section "Problems without solutions" and their own problems. All these problems are shown in the section "Seen Problems". Once a problem has been seen by a user, this problem can no longer be given to that user in a competition. This is one of the twists that makes PhyKings so interesting.</li>
		</ol>
	</div>
	
	<div class="section-rule" id="sec2">
		<h3>Solutions</h3>
		<ol>
			<li>Similarly to problems, every solution has an answer. The answer consists of three parts: value, power and units. The value and the power must be integers. The units field is automatically filled with the units provided by the author of the problem. The answer is used to check if the solution is correct.</li>
			<li>There are two types of solutions: "Normal Solution" and "Report Solution". If you want to submit a "Normal Solution", the answer you provide must agree with the answer given by the author of the problem. You cannot submit a "Normal Solution" with an answer that differs with more than 5% from the original answer. Nevertheless, mistakes happen and your answer might be the correct one and the author might have given a wrong answer. If you think that this is the case and your answer is indeed the correct one, you are advised to submit your solution as a "Report Solution". Report solutions are reviewed by moderators as well as by other users and if a mistake is found and the answer of the problem is changed, the status of all solutions will be changed accordingly.</li>
			<li>The main part of a solution is the solution text. Similarly to the problem text it should be clear and understandable. Apart from that the decision is in the hands of the authors to decide the style of their solutions.</li>
			<li>Just like with problems, users can attach an image of up to 500kB to the text of each solution.</li>
			<li>All solutions will be reviewed by moderators and other users. Inappropriate content will not be tolerated and users responsible for it will be banned.</li>
			<li>Every time someone unlocks the solutions of a problem, the authors of the top 10 solutions will receive gold. The mechanism of this is explained in the section "Stats and Gold".</li>
		</ol>
	</div>
	
	<div class="section-rule" id="sec3">
		<h3>Competitions</h3>
		<ol>
			<li>Users can create or join existing competitions.</li>
			<li>When creating a new competition, users are required to select four parameters.</li>
			<li>The number of players determines how many players will have to join the competition before it starts. If you choose the number of players to be 1, you will be practically playing single player mode.</li>
			<li>The length is measured in minutes and can take one of four values: 10, 30, 60, 120. The lengths of the problems given in a competition will always sum up to the length of the competition. For example, if the competition length is 10 minutes, only problems with length 10 minutes can be given in that competition. On the other hand, if the length of the competition is 120 minutes, players can expect anything from twelve 10 minute problems to two 60 minute problems.</li>
			<li>The type of the competition decides what type of problems will be given. In addition to the three main problem types (School, University, Research) you can also choose Mixed, which will open the door to problems from all three types.</li>
			<li>Once a competition has been created, it appears in the section "Active Competitions" along with other currently unfilled competitions. The competition is said to be in waiting mode. Other users can join the competition by clicking the corresponding button in the list with active competitions.</li>
			<li>After the last user has entered the competition may begin. List with all the problems will be presented to the users. Everyone solves the same problems as everyone else.</li>
			<li>Users are expected to enter their answers in the answer boxes that are displayed along with each problem and save them by clicking the "Save Answer" button. They may come back and change their saved answer at any time before the competition time is up. Once they have saved answers for all of the problems, the "Submit" button will become available and they will be able to submit their answers.</li>
			<li>Submission can be done before the competition time is up only if answers to all problems have been provided. If the competition time runs out before a user has entered answers to some problems, automatic submission will occur with all the empty answers marked as $0 \times 10^0 \text{units}$ and will count as incorrect even in the rare case when the answer of a particular problem turns out to be $0 \times 10^0 \text{units}$.</li>
			<li>If you submit your answers before the end of the competition, you will immediately be able to see your own score and which problems you got right and which wrong. At that time the competition would still not be over and you will not be able to join another before the time is up. Also, you will not be able to unlock answers or solutions to the problems given in the competition. However, you will be able and are encouraged to submit solutions to the problems you have got right.</li>
			<li>After the time of the competition is up everyone has either submitted their answers or they are submitted automatically. All players will immediately be able to see their own score together with the overall scores of everyone else and the final ranking. After this moment, all players will be allowed to unlock answers and solutions of problems given in the competition. Everyone is also encouraged to submit solutions to the problems they have solved correctly.</li>
			<li>The final ranking combined with the individual scores and levels of all players determines the changes of each player's level. If the competition has non-zero entry gold, the accumulated total is divided between the players in an exponential manner with the winners taking the biggest share. Part of the total gold (5%) is split between the authors of the problems given in the competition and another part (10%) is kept as a tax.</li>
		</ol>
	</div>
	
	<div class="section-rule" id="sec4">
		<h3>Stats and Gold</h3>
		<ol>
			<li>In the Profile menu there is a separate section on Stats. These simple yet very useful statistics are designed to help you observe your progress and overall performance.</li>
			<li>There is a separation between "Free games" and "Premium games". Free games are competitions with entry gold less than 500 and Premium games are competitions with entry gold more than 500. The Premium games statistics shows how users perform under higher levels of stress and additional motivation. We expect that the presence of gold at stake during a Premium competition will make players take the competitions more seriously and push themselves beyond what they would normally do in a relaxed Free game. Also, Premium games resemble more closely situations from the real world that many phykings will have to face, e.g. high school or university exams, academic or job interviews etc.</li>
			<li>The two main statistics are the "Free Level" and the "Premium Level". When you join PhyKings their starting values are both at 2000. Depending on your performance in Free or Premium games respectively these values will go up or down. The higher the level of a player, the stronger phyking he/she is.</li>
			<li>The most important number is your Gold. It is the thing that allows you to unlock answers and solutions of problems that you find challenging. It also allows you to join Premium competitions or Free competitions with non-zero entry gold and have the chance to win big prizes.</li>
			<li>Your gold will decrease when:
				<ul>
					<li>You pay to unlock the answer of a problem.</li>
					<li>You pay to unlock the solutions of a problem.</li>
					<li>You are not among the winners in a competition with non-zero entry gold.</li>
				</ul>
			</li>
			<li>Your gold will increase when:
				<ul>
					<li>Someone unlocks the answer of a problem that you have uploaded.</li>
					<li>Someone unlocks the solutions of a problem to which you have provided a solution and it is in the top 10 solutions for the given problem.</li>
					<li>A problem that you have uploaded gets chosen for a competition with non-zero entry gold.</li>
					<li>After you solve your first 20 problems during competitions (1000 gold prize)</li>
					<li>Last but not least, if you find yourself in need of more gold you can always purchase the needed amount from PhyKings. You can get 1000 gold for just 1$.</li>
				</ul>
			</li>
		</ol>
	</div>

</div>
