<div class="col-sm-3 text-center" id="ranking-players">
	<%= render 'ranking_players' %>
</div>

<div class="col-sm-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			Your result
			<%= link_to "Close Competition", competition_path(Competition.find(params[:id])), method: "delete", class: "btn btn-xs btn-danger pull-right", id: "faye-cancel" %>
		</div>
		<div class="panel-body">
			
			<%= render 'results_summary_panel' %>
			
			<%= render 'results_problem_table' %>
			
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		initialize_popover();
	});
</script>


