<div id="competition-show">
	<% @competition=Competition.first  %>
<% if @competition.users.count < @competition.n_players %>
	<%= render 'waiting' %>
<% else %>
	<%= render 'competition' %>
<% end %>
</div>
