<div class="col-sm-3 text-center" id="submitted-players">
	<%= render 'submitted_players' %>
</div>

<div class="col-sm-9">
	<div class="panel panel-default">
		<div class="panel-heading">Your result</div>
		<div class="panel-body">
			
			<%= render 'submitted_summary_panel' %>
			
			<div class="col-sm-12">
				<%= render 'submitted_problem_table' %>
			</div>
			
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		initialize_popover();
	});
</script>
