<div class="col-sm-6 col-sm-offset-3">
	<div class="panel panel-default text-center">
		<div class="panel-body">
			<p>Score: <span class="badge alert-success"><%= user_score(current_user, @competition) %>%</span></p>
		</div>
	</div>
</div>
