<div class="col-sm-6 col-sm-offset-3 text-center">
	<div class="panel panel-default">
		<div class="panel-body">
			<%= image_tag "loading_spinner.gif" %>
			<p>You have submitted your answers. Results will be displayed as soon as everyone is done.</p>
		</div>
	</div>
</div>
