<div class="col-sm-6 col-sm-offset-3 text-center">
	<div class="panel panel-default">
		<div class="panel-body">
			<%= image_tag "loading_spinner.gif" %>
			<h3>Waiting for players: <%= @competition.users.count %> / <%= @competition.n_players %></h3>
		</div>
	</div>
</div>

