<p class="label label-default">
	Quality:
	<% if current_problem.rating.present? %>
		<% (1..(current_problem.rating.to_i)).each do |i|  %>
			<i class='glyphicon glyphicon-star'></i>
		<% end %>
		<% ( (current_problem.rating.to_i + 1)..10).each do |i|  %>
			<i class='glyphicon glyphicon-star-empty'></i>
		<% end %>
	<% else %>
		<strong>No Votes Yet</strong>
	<% end %>
</p>
