
<!--
summarized info for the user top right 
Used in header_in
-->
<p>
<img  src="file:///home/jordan/Downloads/images.png"  height="50" width="50">
<ul>
	<font color="yellow"> 
		<li> gold:blabalb  / <%= link_to "get more gold" , "#" %> </li>
	</font>
	<li> free lvl: blablab</li>
	<li> premium lvl: blablab</li>
	</ul>
</p>

	


