
<!--
summarized info for the user top right 
Used in header_in
-->
<p>

<ul>


		<font color="yellow"> 
		<li class="li-inline"> gold:blabalb  / <%= link_to "get more gold" , "#" %> </li>
	</font>
	<li class="li-inline"> free lvl: blablab</li>
	<li class="li-inline"> premium lvl: blablab</li>
		<li class="li-inline" ><img  src="file:///home/jordan/Downloads/images.png"  height="25" width="25"></li>
		<font size='3'>	<li class="li-inline"> <%= link_to "Sign out", destroy_user_session_url, method: "DELETE" %></li></font>

	</ul>
</p>

	


