     
<!-- Competitions Sidebar Partial -->     
<!-- Note: The <div> </div>s are in the _logged_in partial-->     
      
<ul class="nav nav-sidebar">
	<li><h3>Competitions</h3></li>
	<li><%= link_to "Active competitions", '#', id: "competitions-active" %></li>	
	<li><%= link_to "Create", '#', id: "competitions-create" %></li>
</ul>
