     
<!-- Admin Sidebar Partial -->     
<!-- Note: The <div> </div>s are in the _logged_in partial-->     
      
<ul class="nav nav-sidebar">
	<li><h3>Admin Menu</h3></li>
	<li><%= link_to "Users", admin_users_users_path, id: "admin-users" %></li>	
	<li><%= link_to "Problems", admin_problems_users_path, id: "admin-problems" %></li>
	<li><%= link_to "Solutions", admin_solutions_users_path, id: "admin-solutions" %></li>
</ul>
